body{
    font-family: "Podkova", serif;
    overflow: hidden;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
    user-select: none;
}

html{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
}

.contributers{
    position: relative;
    font-size: 2vw;
    top: 1vw;
    left: 1vw;
    text-decoration: none;
    color: black;
    
} 




.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 45vw;
    height: 48.6vh;
    overflow-y: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    resize: vertical;
    overflow: hidden;
    cursor: ns-resize; 
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }
  

  .output {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word; 
  }
  
  


.right {
    position: fixed;
    background-color: rgb(255, 166, 222);
    border-left: dashed 15px white;
    padding: 2vw;
    width: 50vw;
    height: 1000vh;
    right: 0;
    top: 0;
    z-index: 10;
  }

.input button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Podkova", serif;
    background-color: transparent;
    border: none;
    top: 3.5vw;
    font-size: 2vw;
    margin-bottom: 3vw;
}

.input button:hover {
    color: rgb(255, 88, 194);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
}

button {
    display: inline-block;
    font-family: "Podkova", serif;
    background-color: transparent;
    border: none;
    font-size: 2vw;
    margin-bottom: 3vw;
    left: 1vw;
}

button:hover{
    color: rgb(255, 88, 194);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
}

.trinketsbutton {
    position: absolute;
    display: flex;
    background-color: rgb(255, 156, 49);
    height: 1vw;
    width: 1vw;
    padding: 1vw;
    border-radius: 50%;
    border: dashed 1px white;
    top: 6vw;
    left: 40vw;
  }

