body{
    font-family: "Podkova", serif;
    overflow: hidden;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
}

html{
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
}

.home{
    position: relative;
    left: 25vw;
    font-size: 2vw;
    color: black;
    text-decoration: none;
    top: 1vw;
}

.about:hover{
    color: rgb(255, 88, 194);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
}

.contributers{
    position: relative;
    font-size: 2vw;
    top: 1vw;
}

.lines{
    position: absolute;
    background-color: black;
    padding: .05vw;
    width: 50vw;
    margin: 1vw;
    left: -5vw;
    top: 4vw;
}

.lineone{
    position: absolute;
    background-color: black;
    padding: .05vw;
    width: 50vw;
    margin: 1vw;
    left: -5vw;
    top: 9vw;
}

.linetwo{
    position: absolute;
    background-color: black;
    padding: .05vw;
    width: 50vw;
    margin: 1vw;
    left: -5vw;
    top: 14vw;
}

.linethree{
    position: absolute;
    background-color: black;
    padding: .05vw;
    width: 50vw;
    margin: 1vw;
    left: -5vw;
    top: 19vw;
}

.linefour{
    position: absolute;
    background-color: black;
    padding: .05vw;
    width: 50vw;
    margin: 1vw;
    left: -5vw;
    top: 25vw;
}

.linefive{
    position: absolute;
    background-color: black;
    padding: .05vw;
    width: 50vw;
    margin: 1vw;
    left: -5vw;
    top: 31vw;
}

.vertical{
    position: absolute;
    background-color: black;
    padding: .05vw;
    height: 370vw;
    left: 46vw;
    top: -5vw;
    z-index: 5;
}

.bottom {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 46vw;
    height: 48.6vh; 
    overflow-y: auto; 
    background-color: rgb(143, 226, 143);
    z-index: 10; 
    display: flex; 
}

.output {
    position: relative;
    width: 500px; 
    height: 300px;
    background-color: rgb(143, 226, 143);
    padding: 20px;
    left: 1vw;
}

.right{
    position: absolute;
    background-color: rgb(234, 234, 234);
    padding: 9vw;
    width: 36.9vw;
    height: 100vw;
    right: -1vw;
    top: -1vw;
    z-index: -100; 
}

.input button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Podkova", serif;
    background-color: transparent;
    border: none;
    top: 3.5vw;
    font-size: 2vw;
    margin-bottom: 3vw;
}

.input button:hover {
    color: rgb(255, 88, 194);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
}

button {
    display: inline-block;
    font-family: "Podkova", serif;
    background-color: transparent;
    border: none;
    font-size: 2vw;
    margin-bottom: 3vw;
}

button:hover{
    color: rgb(255, 88, 194);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><circle cx="10" cy="10" r="8" fill="none" stroke="black" stroke-width="2"/></svg>') 10 10, auto;
}

.trinketsbutton {
    position: absolute;
    display: flex;
    background-color: rgb(255, 156, 49);
    height: 1vw;
    width: 1vw;
    padding: 1vw;
    border-radius: 50%;
    border: dashed 1px white;
    top: 6vw;
    left: 40vw;
  }
  
  /* .trinket-display {
    position: absolute;
    display: block;
    left: 70vw;
    top: 30vw;
    height: 50%;
    width: auto;
  } */

  .trinketscath {
    position: absolute;
    display: flex;
    background-color: rgb(143, 226, 143);
    height: 1vw;
    width: 1vw;
    padding: 1vw;
    border-radius: 50%;
    border: dashed 1px white;
    top: 11vw;
    left: 40vw;
  }
  
  .trinketsapril {
    position: absolute;
    display: flex;
    background-color: rgb(255, 88, 194);
    height: 1vw;
    width: 1vw;
    padding: 1vw;
    border-radius: 50%;
    border: dashed 1px white;
    top: 16vw;
    left: 40vw;
  }

  .trinketsissepa {
    position: absolute;
    display: flex;
    background-color: rgb(50, 31, 255);
    height: 1vw;
    width: 1vw;
    padding: 1vw;
    border-radius: 50%;
    border: dashed 1px white;
    top: 21.5vw;
    left: 40vw;
  }

  .trinketstemp {
    position: absolute;
    display: flex;
    background-color:  rgb(255, 93, 29);
    height: 1vw;
    width: 1vw;
    padding: 1vw;
    border-radius: 50%;
    border: dashed 1px white;
    top: 27.5vw;
    left: 40vw;
  }

  img{
    position: absolute;
    display: flex;
    left: 60vw;
    top: 20vw;
    flex-direction: column;
    align-items: flex-start;
    height: 25vw;
    width: auto;
  }

  .imgone{
    top: 1vw;
  }

  .imgtwo{
    top: 10vw;
    left: 75vw;
  }

  .imgthree{
    left: 65vw;
    top: 20vw;
  }

  .imgfour{
    top: 35vw;
    left: 50vw;
  }



 











