body{
    font-family: "Finlandica", sans-serif;
    overflow: hidden;
}


button{
    position: relative;
    display: inline-block;
    font-family: "Finlandica", sans-serif;
    font-size: 60px;
    margin: 2px;
}

.output{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.typeandcolor{
    position: absolute;
    display: flex;
    bottom: 5%;
    margin: 5vw;
}

#typeface{
    font-size: 25px;


}

#color{
    font-size: 25px;
    left: 70%;
}