body{
    font-family: "Finlandica", sans-serif;
    overflow: hidden;
}

.input{
    display: flex;
}



button{
    position: relative;
    font-family: "Finlandica", sans-serif;
    font-size: 70px;
    margin: 3px;
    left: 1%;

    background-color: transparent;
    border: none;
    color: rgb(225, 225, 225);
}

button:hover{
    color: black;
    cursor: grab;
}

.output{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10vw;
    font-size: 80px;
}


#backgroundcolor{
    display: flex;
    position: absolute;
    bottom: 5.3vw;
    left: 93vw;
    background-color: rgb(225, 225, 225);
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
}

#backgroundcolor:hover{
    background-color: black;
}


#typeface{
    position: absolute;
    font-size: 30px;
    left: 20vw;
    bottom: 5vw;
}

#color{
    position: absolute;
    font-size: 30px;
    left: 75vw;
    bottom: 5vw;
}


.main{
    position: absolute;
    bottom: 5.5vw;
    left: 45vw;

    
}


.about{
    display: flex;
    position: absolute;
    bottom: 5.3vw;
    left: 5vw;
    background-color: rgb(225, 225, 225);
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
}

.about:hover{
    background-color: black;
}

