html{
    font-family: "Finlandica", sans-serif;
    
}

.Typeface{
    position: absolute;
    top: 2vw;
    left: 90vw;
    font-size: 25px;

}

.logo{
    font-size: 80px;
}

.main{
    text-decoration: none;
    color: black;
}

header{
    position: absolute;
    font-size: 115px;
    bottom: 5vw;
    left: 22%;
}

.font{
    font-family: "Finlandica", sans-serif;
}

.Color{
    font-family: "Finlandica", sans-serif;
}



