html{
    font-family: "Finlandica", sans-serif;
    
}

.logo{
    font-size: 80px;
}



.main{
    text-decoration: none;
    color: black;
}

header{
    position: absolute;
    font-size: 115px;
    bottom: 5vw;
    left: 22%;
}
