body{
	font-family: "Space Mono", serif;
	overflow: hidden;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
}


.dropbtn {
	font-family: "Space Mono", serif;
    font-size: 10px;
    border: none;
	background-color: white;
  }
  
.dropbtn:hover{
	color: goldenrod;
}
  .dropdown {
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 5%;
  }
  
  
  .dropdown-content {
	font-family: "Space Mono", serif;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    font-size: 8px;
    text-decoration: none;
    display: block;
	color: black;
  }

  .dropdown-content a:hover{
	color: goldenrod;
  }



.dropdown:hover .dropdown-content {display: block;}

#workshops{
	top: 5%;
	left: 75%;
}


.image-hover {
    width: 300px; /* Specify the width */
    height: 200px; /* Specify the height */
    background-image: url('default-image.jpg'); /* Initial background image */
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
}

.image-hover:hover {
    background-image: url('hover-image.jpg'); /* Change on hover */
]