body{
	font-family: "Space Mono", serif;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects{
	font-size: 10px;
	display: flex;
	position: absolute;
	left: 5%;
	top: 2%;
}

.workshops{
	font-size: 10px;
	display: flex;
	position: absolute;
	right: 5%;
	top: 2%;
}