body{
	font-family: "Podkova", serif;
	overflow: hidden;
}

header{
  position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  top: 10px;
  font-size: 35px;
  color: rgb(23, 58, 135);


  
}

.t{
  animation-timing-function: ease-in-out; 
  transform-origin: 50% 50%;
  animation-name: animation;
  /* animation-duration: 8s; */
  animation-direction: alternate;
  animation: animationone 10s linear 2s infinite alternate;
}


.eone{
  animation-delay: 4s;
  transform-origin: 50% 50%;
  animation-name: animation;
  /* animation-duration: 8s; */
  animation-direction: alternate;
  animation: animationtwo 10s linear 2s infinite alternate;
  animation-timing-function: ease-in-out; 
}

.m{
  animation-delay: 4s;
  transform-origin: 50% 50%;
  animation-name: animation;
  /* animation-duration: 8s; */
  animation-direction: alternate;
  animation: animationm 10s linear 2s infinite alternate;
}





/* @keyframes animationone{
  0%{
    transform: translateX(-5vw) translateY(5vw);
  }
  10%{
    transform: translateX(-10vw) translateY(10vw);
  }
  20%{
    transform: translateX(-20vw) translateY(20vw);
  }
  30%{
    transform: translateX(-30vw) translateY(30vw);
  }
  40%{
    transform: translateX(-30vw) translateY(30vw);
  }
  50%{
    transform: translateX(-20vw) translateY(20vw);
  }
  60%{
    transform: translateX(-10vw) translateY(10vw);
  }
  70%{
    transform: translateX(5vw) translateY(5vw);
  }
  80%{
    transform: translateX(10vw) translateY(10vw);
  }
  90%{
    transform: translateX(20vw) translateY(20vw);
  }
  100%{
    transform: translateX(10vw) translateY(10vw);
  }
} */






svg{
  position: absolute;
  top: 20%;
  left: 30%;
  overflow: visible;
}

#curve{
  fill: transparent;
}

.text{
  font-size: 7vw;
  transform-origin: 50% 50%;
  animation: rotate 15s linear infinite;
}

/* @keyframes rotate{
  from{
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
} */

.dropbtn {
  font-family: "Podkova", serif;
    font-size: 25px;
    border: none;
	  background-color: transparent;
    color: rgb(23, 58, 135);
  }
  
/* .dropbtn:hover{
	color: rgb(23, 58, 135);
} */

  .dropdown {
    position: absolute;
    display: inline-block;
    top: 3%;
    left: 5%;
  }
  
  .dropdown-content {
	  font-family: "Podkova", serif;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    font-size: 20px;
    text-decoration: none;
    display: block;
	  background-color: transparent;
    color: rgb(23, 58, 135);
  }

  

.dropdown:hover .dropdown-content {display: block;}

#workshops{
	top: 3%;
	left: 79%;
}

















