html{
    font-family: "Finlandica", sans-serif;
    
}

.content{
    position: absolute;
    font-size: 71.5px;
    top: 10%;
    left: 3%;
}

.logo{
    position: relative;
    display: inline-flex;
    font-size: 80px;
    left: 2vw;
}

.sub{
    position: absolute;
    rotate: 75deg;
    left: 65%;
    top: -10%;
}

.about{
    position: absolute;
    font-size: 25px;
    right: 3%;
    top: 3%;
    text-decoration: none;
    color: black;
}

#curve{
    fill: transparent;
}

.text{
    transform-origin: 50% 50%;
    transform: rotateZ(45deg);
}


